body
{
    background-color: #fff;
}



#profile_page #profile_bar
{
    background-color: #333;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 25%;
    border-radius: 10px;
}

#profile_bar img
{
    position: absolute;
    top: 12%;
    left: 5%;
    width: 8%;
}

#profile_bar #profile_name
{
    position: absolute;
    top: 13%;
    left: 17%;
    color: #fff;
    font-size: 30px;


}


#favorit_team
{
    position: absolute;
    top: 60%;
    left: 10%;
    width: 80%;
    height: 50%;
    background-color: #d9d9d9;
    border-radius: 10px;
}
 
#favorit_team p
{
    position: absolute;
    color: #f6f6f6;
    top: 5%;
    left: 3%;
    font-size: 140%;
}

