/* signup.css */

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2{
    font-family: 'Pacifico', cursive; font-size: 50px;
    position: absolute;
    top: 100px;
    left: 690px;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label, input {
    display: block;
    margin: 10px auto;
    width: 100%;
    border-radius: 10px;

}
input{
    font-size: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 450px;
    left: 715px;
}

form{
    border: 1px solid lightgray;
    padding: 170px 100px;
    border-radius: 20px;
    background-color: #ffffff;
}